{% extends 'base.html' %}
{% load static %}
{% block content %}



    <h1>CLIENT REVIEWS</h1>
    <P>Best camera for beginners. Though picture quality is similar to some high end smartphones but still it's not
        comparable. It's the best for beginners.
    </P>
    <P>
        the camera is fabulous I loved it performance with it caitlin's it performs very very well it's the cheapest
        DSLR which you can get under this price bracket so you cannot expect many things from it video recording is ok
        but photography of photo shoots those are fantastic amazing.
    </P>
    <P>
        This camera is really handy and good for beginners. The packing also had carry bag which
        was unexpected. The packing should have been better as the main box was not fitted to hold the D3500 box firmly
        and I think it came wobbling from packing to delivery.
    </P>
    <P>A very good and quality product- Nikon dslr D3500 Camera. For beginners it is need to read the manual carefully
        and also must be educated in Exposure Trio means Shutter speed,Aperture and ISO to click manually. Everything is
        good but should have a shortcut key for ISO adjustment. I got the product in 28k with 18-55mm kit lens.
    </P>



{% endblock %}