
{% load static %}


 <!-- footer section start -->
 <div class="footer_section">
    <div class="container">
        
        <p class="long_text"> “The earth is art, the photographer is only a witness.”
            – Yann Arthus-Bertrand</p>
        <div class="footer_section_2">
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <div class="icon_main">
                        <ul>
                            <li><a href="#"><img src="{% static 'images/map-icon.png' %}"></a></li>
                            <li><a href="#"><img src="{% static 'images/email-icon.png' %}"></a></li>
                            <li><a href="#"><img src="{% static 'images/contact-icon.png' %}"></a></li>
                        </ul>
                    </div>
                </div>
               
                <div class="col-sm-12 col-lg-4">
                    <div class="social_icon">
                        <ul>
                            <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
                            <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
                            <li><a href="#"><img src="{% static 'images/instagram-icon.png' %}"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

