{% extends 'base.html' %}
{% load static %}
{% block content %}





    <h1>OUR SERVICES</h1>
    <p>Camera repair services refurbish digital or film based cameras and video cameras to their original operating
        condition. Companies offering this service have the ability to fix the camera bodies, lenses, and flashes.
        Camera repair services may be offered by the camera manufacturer, camera retail centers, or specialized camera
        repair centers. Each vary in the services provided as well as camera brand capabilities.
    </p>

    <h2>Repairs available include:</h2>
    <ul>
        <li>Equipment overhauls</li>
        <li>Alignments</li>
        <li>Cleaning</li>
        <li>Lubrication</li>
        <li>Shutter repair</li>
        <li>Power glitches</li>
        <li>Image sensor cleaning</li>
        <li>LCD screen repair</li>
        <li>Cracked lens repair</li>   
    </ul>




{% endblock %}